/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

*::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #000;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: red;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

/* Principal  */

body {
  background-image: url(../img/fundo-tanjiro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'VT323', monospace;
  font-size: 18px;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

div.minhas-informacoes div.icon {
  display: flex;
  position: relative;
  border-radius: 50%;
  padding: 4px;
  width: 148px;
  height: 148px;
  
  z-index: 1;
  transition: transform .3s;
  animation: fromtop .7s .2s backwards;
}

div.icon:hover {
  transform: scale(1.09);
}

div.minhas-informacoes div::before {
  content: "";
  background-image: linear-gradient(to right, red, orange, yellow);

  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
  z-index: -1;
  animation: animacao 0.7s linear infinite;
}

.cartao {
  background-color: #070d12;
  width: 370px;
  border: 2px solid orange;
  box-shadow: 0px 0px 20px rgba(255, 166, 0, 0.626);
  border-radius: 10px;
  overflow: hidden;
}


.cartao .minhas-informacoes {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* alinha  horizontamente por causa do flex  direction column */
  gap: 10px;
  
}

 .cartao .minhas-informacoes img {
  border-radius: 50%;
  width: 100%;
} 

.cartao .minhas-informacoes .nome {
  font-size: 26px;
  white-space: nowrap;
  overflow: hidden;
}

.cartao .minhas-informacoes .cargo {
  font-size: 20px;
  color: #b8bbc5;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation-nome {
  animation: typing-nome 1s .1s steps(40) normal;
}

.typing-animation-sub-titulo {
  animation: typing-sub-titulo 2.5s .1s steps(41) normal;
}

.cartao .conteudo {
  margin-top: 15px;
}

.cartao .abas {
  display: flex;
}

.cartao .abas .aba {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.cartao .abas img  {
  width: 30px;
}

.cartao .abas .aba.selecionado  {
  background-color: #262626;
}

.cartao .informacoes-abas {
  background-color: #262626;
}

.cartao .abas .aba:hover {
  background-color: #414141;
}

.informacoes-abas .informacao {
  min-height: 260px;
  padding: 15px;
  display: none;
}

.informacoes-abas .informacao.selecionado {
  display: block;
}

.informacoes-abas .sub-titulo {
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
}

.informacoes-abas .descricao {
  font-size: 20px;
  max-height: 180px;
  overflow-y:auto;
  padding-right: 15px;
  text-align: justify;
}

.informacoes-abas .descricao span {
  color: rgba(255, 255, 0, 0.96);
}



.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  max-height: 280px;
  overflow-y: auto;
}

.redes-sociais li a {
  display: block;
  width: 250px;
  color: #f3f3f3;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.redes-sociais .curriculo {
  background-color: #06c185;
}

.redes-sociais .linkedin {
  background-color: #1d87bd;
}

.redes-sociais .github {
  background-color: #545454;
}

.redes-sociais li a:hover {
  opacity: 0.8;
}

/* ANIMATION */

@keyframes animacao {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}



@keyframes typing-nome {
  from {
    width: 0;
  }

  to {
    width: 5em;
  }
}

@keyframes typing-sub-titulo {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
